################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookShelf.SPA/bin
/.vs
/packages
/BookShelf.SPA/obj/Debug
