<div class="container">

    <div class="row">
        <div class="col-md-8">
            <img src="{{vm.book.volumeInfo.imageLinks.thumbnail}}" alt="">
            <h2>{{vm.book.volumeInfo.title}}</h2>
            <h4>{{vm.book.volumeInfo.authors | stringConcat:', '}}</h4>
           
            <div ng-bind-html="vm.book.volumeInfo.description | rawHtml"></div>
        </div>
    </div>
    <debug-display display="vm.book"/>
    <!--<debug-display display="vm.book.volumeInfo"/>
    <debug-display display="vm.book.volumeInfo.industryIdentifiers"/>-->

</div>
