<div class="container" ng-init="vm.getBookDetails()">

    <book-detail book="vm.book"></book-detail>
    

    <!--<div class="row">
        <div class="col-md-8">
            <img src="{{vm.book.thumbnail}}" alt="">
            <h2>{{vm.book.title}}</h2>
            <h4>{{vm.book.authors | projectobject: 'name' | stringconcat:', '}}</h4>
           
            <div ng-bind-html="vm.book.description | rawhtml"></div>
        </div>
    </div>
    <debug-display display="vm.book"></debug-display>-->
</div>
