<div class="container" ng-init="vm.findBook()">

    <div class="row">
        <div class="col-md-8">
            <h1>Library Add</h1>
        </div>
        
    </div>
    <error-display display="vm.Error"></error-display>
    <info-display display="vm.Info"></info-display>
    <div class="row">
        <div class="col-md-8">
            <img src="{{vm.book.volumeInfo.imageLinks.thumbnail}}" alt="">
        </div>
    </div>
    <form ng-submit="vm.onSubmit()">
        <div class="form-group row">
            <label for="txtTitle">Title</label>
            <input type="text" name="title" class="form-control" id="txtTitle" value="{{vm.book.volumeInfo.title}}">
        </div>
        <div class="form-group row">
            <label for="txtDescription">Description</label>
            <textarea name="description" id="txtDescription" class="form-control" rows="10" >{{vm.book.volumeInfo.description}}</textarea>
        </div>
        <div class="form-group row">
            <label for="txtPublisher">Publisher</label>
            <input type="text" name="title" class="form-control" id="txtPublisher" value="{{vm.book.volumeInfo.publisher}}">
        </div>
        <div class="form-group row">
            <label for="txtPublishYear">Publish Year</label>
            <input type="text" name="title" class="form-control" id="txtPublishYear" value="{{vm.book.volumeInfo.publishedDate}}">
        </div>
        <div class="form-group row">
            <label for="txtPageCount">Page Count</label>
            <input type="text" name="title" class="form-control" id="txtPageCount" value="{{vm.book.volumeInfo.pageCount}}">
        </div>
        <div class="form-group row">
            <input type="submit" id="submit" class="btn btn-primary" value="Save"/>
        </div>
    </form>
    <debug-display display="vm.book"></debug-display>

</div>