<div class="container" ng-init="vm.getLibrary()">

    <error-display display="vm.Error"></error-display>
    <info-display display="vm.Info"></info-display>

    <div class="row">
        <div class="col-md-12">
            <h1 >Library</h1>
            <h3>
                <small ng-if="vm.library.length > 0">Books in library {{vm.library.length}}</small>
                <small ng-if="vm.library.length == 0">No books in library</small>
            </h3>

        </div>
    </div>
    <div class="row" ng-repeat="item in vm.library | orderBy:'title'" ng-if="$index % 3 == 0">
        <div class="col-md-4 portfolio-item" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="item = vm.library[i]">
            <book-summary book="item" remove="true" index="$index" remove-book="vm.removeBook(id, index)" test-method="vm.testMethod()" ></book-summary>
            <debug-display display="item"></debug-display>
        </div>
    </div>

    <debug-display display="vm.library"></debug-display>
</div>