<div class="container">

    <div class="row">
        <form>
            <div class="col-md-4"><input type="text" class="form-control" ng-model="vm.searchTerm" /></div>
            <div class="col-md-8"><input type="button" class="btn btn-primary" value="Search" ng-click="vm.search()" /></div>
        </form>
    </div>
    <!--<div class="row" >
        <div class="col-lg-3">
            <div class="loader"></div>
         </div>
    </div>-->
    <!-- Page Header -->
    
        
    
    <div class="row" ng-show="searchResults">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small>Total Items {{searchResults.totalItems}}</small>
            </h1>
        </div>
    </div>

    <div infinite-scroll="vm.loadMore()" infinite-scroll-distance="0" infinite-scroll-immediate-check='false'>
        <div class="row" ng-repeat="item in vm.searchResults.items" ng-if="$index % 3 == 0">
            <div class="col-md-4 portfolio-item" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="item = vm.searchResults.items[i]">
                <a href="#/details/{{item.id}}">
                    <img class="imageClip" src="{{item.volumeInfo.imageLinks.thumbnail}}" alt="">
                </a>
                <h3>{{i + 1}}. {{item.volumeInfo.title}}</h3>
                <h4>{{item.volumeInfo.authors | stringConcat:', '}}</h4>
                <p>{{item.volumeInfo.description | limitTo:200}}</p>
                <!--<button>Add To Library</button>-->
            </div>
        </div>
         <debug-display display="vm.searchResults"/>
    </div>
 </div>