<div class="container"  ng-init="vm.search()" >

    <error-display display="vm.Error"></error-display>
    <info-display display="vm.Info"></info-display>

    <div class="row">
        <form>
            <div class="col-md-4"><input type="text" class="form-control" ng-model="vm.searchTerm" /></div>
            <div class="col-md-8"><input type="button" class="btn btn-primary" value="Search" ng-click="vm.search()" /></div>
        </form>
    </div>

    <div class="row" ng-show="vm.searchResults">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small>Total Items {{vm.searchResults.totalItems}}</small>
            </h1>
        </div>
    </div>

    <div infinite-scroll="vm.loadMore()" infinite-scroll-distance="0" infinite-scroll-immediate-check='false'>
        <div class="row" ng-repeat="item in vm.searchResults.items" ng-if="$index % 3 == 0">
            <div class="col-md-4 portfolio-item" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="item = vm.searchResults.items[i]">
                <book-summary book="item" index="i" library="false"></book-summary>
            </div>
        </div>
         <debug-display display="vm.rawResponse"></debug-display>
    </div>
 </div>